.signup-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 0;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.signUpImage {
  margin-bottom: 20px;
}

.signUpImage img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  /* Styles for tablets and desktop devices */
  .signup-container {
    width: 50%;
  }
}
