.popUpContainer{
background-color:white;
margin-top:-550px;
transform: translate(50,50);
position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}