.Content{
    height: 100vh;
}

  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .modalContent h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .modalContent p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .closeBtn {
    background-color: #9e2121;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .authButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .authButtons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .modalContent {
      max-width: 600px;
    }
  }
  