* {
  padding: 0;
  margin: 0;
}
body{
}
@media (max-width: 600px) {
  body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .Content {
    margin: 70px 5px 0px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .searchContent{
    width: 100%;
    height: 100vh;
    background-color: azure;
    position: fixed;
    top: 61px;
    text-align: center;
    right: 0;
  }
  .searchContent select{
    height: 30px;
    border-radius: 10px;
  }
  label{
    margin: 10px;
  }
  .ArrowsContent{
    float: right;

    border: 1px black ridge;
    margin-top: -118px;
    margin-right: 70px;
  }
  .ArrowUpContent{
    float: left;
  }
  .ArrowDownContent{
    float: right;
  }
  .searchBar{
    border: 1px black ridge;
    border-radius: 15px;
    height: 170px;
    margin: 50px 10px 20px 10px;
    transform: translate(0px, 180px);
  }
  .submitSearchBtn{
    margin-top: 40px;
    position: fixed;
  }
 .searchIconContent{
  margin-left: 307px;
 }
  .searchIconContent button{
    color: white;
    background-color: #00AE95;
    font-size: 1.5rem;
    width: 50px;
    margin: -440px 50px 10px 0px;
    position: fixed;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

  }
  .searchResults{
background-color: yellow;
margin-top: -200px;
  }
  .closesearchModal{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 1.8rem;
  }
  .bookContent {
    height: 280px;
    background:#ECFCFF ;
    margin: 5px;
    margin-top: 20px;
    display: inherit;
    border-radius: 15px;
    
    box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
  }

  .LeftContent {

    float: left;
    width: 30%;
  }

  .RightContent {
    margin-top: 25px;
    width: 70%;
    float: right;
    height: 140px;

  }

  .homeBookContent {
    background-color: #01627F;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

  }

  .homeBookContent p {
    padding: 2px;
    margin-left: 40px;
    margin-top: 6px;
    
  }

  .TaxiLogo {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .BtnContent {
    margin-left: 10px;
  }

  .BookBtn {
    width: 100px;
    height: 40px;
    margin-top: 130px;
    border: none;
    border-radius: 8px;
    background-color: #00C6AB;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);


  }

  .BookBtn:hover {
    background-color: #65aaf9;
  }

  .circle1,
  .circle2 {
    background-color: white;
    background: linear-gradient(to right bottom, rgb(255, 255, 255, 0.9), rgb(255, 255, 255, 0.1));
    height: 5rem;
    width: 5rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle1 {
    top: 24%;
    right: 15%;
    background: linear-gradient(to right bottom, rgb(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));

  }

  .circle2 {
    bottom: 15%;
    left: 5%;
    background: linear-gradient(to right bottom, #65dff9, #65dfc9);
    display: none;
  }

  li {
    /* position: fixed;
      top: 0;
      left: 0;
      min-height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; */
    width: 100%;

  }
  .modal{
    background-color: #F6F5F3 ;
    margin-top: -1094px;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
