.carousel {
    overflow-x: auto;
    width: 92vw;
    display: flex;
}
.carouselBtns{
    width: 100%;    
    position: absolute;
    right: 1px;
    margin-top: 204px;
}
.carsouselContentLeft{
    float: left;
    margin-left: 15px;
    font-size: 2rem;
    cursor: pointer;
    
}
.carouselLeft, .carouselRight{
    box-shadow:  0 7px 21px 0 rgba(0, 0, 0, 0.20);
    background: none;
    border-radius: 50%;
}
.carsouselContentRight{
    float: right;
    margin-right: 10px;
    font-size: 2rem;
    cursor: pointer;
}
.carouselImg {
    width: 100%;
    display: inline-block;
    z-index: -1;
    margin: 20px;
}