/* Mobile styles */
@media only screen and (max-width: 600px) {
  /* Reduce padding */
  .container {
    padding: 10px;
  }

  /* Center the form */
  .form-box {
    margin: 0 auto;
    width: 90%;
  }

  /* Adjust font sizes */
  h1 {
    font-size: 24px;
  }

  .input-group-text {
    font-size: 20px;
  }

  input[type="email"],
  input[type="password"],
  button[type="button"] {
    font-size: 18px;
    padding: 10px;
  }

  /* Reduce the size of the image */
  .image {
    height: 80px;
    width: 80px;
  }

  /* Adjust the size of the logo */
  .header-form {
    margin-bottom: 20px;
  }

  /* Center the button */
  button[type="button"] {
    margin: 0 auto;
    display: block;
  }

  /* Adjust the height of the form */
  .body-form {
    height: 250px;
  }
}
